<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pay">
      <h2 data-cy="payDetailsHeading"><span>Pay</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pay.id }}</span>
        </dd>
        <dt><span>Cik</span></dt>
        <dd>
          <span>{{ pay.cik }}</span>
        </dd>
        <dt><span>Ccc</span></dt>
        <dd>
          <span>{{ pay.ccc }}</span>
        </dd>
        <dt><span>Payment Amount</span></dt>
        <dd>
          <span>{{ pay.paymentAmount }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ pay.name }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ pay.email }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ pay.phone }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/pay', pay.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
