<br /><br /><br /><br /><br />
<div align="center" id="border">
  <br />
  <h2 align="center"><b>PayGov</b></h2>
  <br />
  <h4><b>Almost done, press finish button to finalize payment process</b></h4>

  <p>paymentAmount : 25.0 EUR</p>
  <p>{{ mockData }}</p>

  <br />
  <button type="submit" routerLink="/" class="btn btn-primary"><i class="fa-fa-cancel"></i>Cancel</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <button type="submit" (click)="save()" class="btn btn-primary">Finish</button>
  <br /><br /><br />
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
