input {
  width: 370px;
  height: 35px;
  margin-left: 300px;
}

.form-control-label {
  margin-left: 300px;
}

#jhi-pay-heading {
  margin-left: 300px;
}

#btn {
  margin-left: 300px;
}

#nxt {
  margin-left: 188px;
}
